.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar-channels {
  flex: 1;

}

.sidebar-addchannel {
  cursor: pointer;
}

.sidebar-addchannel:hover {
  color: white;
}

.sidebar-channelheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar-voice, 
.sidebar-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  padding: 10px;
  border-top: 1px solid gray;
}

.sidebar-voice-notice {
  flex: 1;
  padding: 10px;
}

.sidebar-cell-voice-icon {
  color: #08a808
}

.sidebar-voice-notice > h3 {
  color: #08a808;
}

.sidebar-voice-notice > p {
  font-size: smaller;
}

.sidebar-voice-icons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar-profile-icons {
  color: gray;
}

.sidebar-profile-details {
  flex: 1;
  padding: 10px;
}

.sidebar-profile-details > h3 {
  color: white;
}

.sidebar-profile-icons > .MuiSvgIcon-root {
  padding: 10px;
}